@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: hsl(338, 100, 84);
  --primary-light: hsl(337, 100, 89);
  --secondary: hsl(209, 100, 82);
  --secondary-light: hsl(208, 97, 87);
  --tertiary: hsl(278, 35, 78);
  --white: #ffffff;
  --black: #000000;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
